body, h1, h2, h3, h4, h5, h6 {
    font-family: "CaviarDreams", sans-serif;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}


/* Create a Parallax Effect */

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-ai {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url('titleImage.jpg');
    min-height: 100vh;
}

.bgimg-ai {
    background-image: url('AI.png');
    min-height: 100vh;
    max-height: 100vh;
}


/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url("fountain.png");
    min-height: 60vh;
}


/* Third image (Contact) */

.bgimg-3 {
    background-image: url("earth.jpg");
    min-height: 60vh;
}

.viice-wide {
    letter-spacing: 10px;
}

.viice-hover-opacity {
    cursor: pointer;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
