   /* PLUGIN CODE */

   .youtube-modal-wrapper {
      position: fixed;
      z-index: 999999999;
      top: 50%;
      left: 50%;
      width: 30%;
   }

   .youtube-modal-inner {
      position: relative;
      /* 16:9 by default - alter if need be */
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
   }

   .youtube-modal-inner iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   .youtube-modal__close-btn {
      position: absolute;
      right: -18px;
      top: -18px;
      z-index: 2;
      cursor: pointer;
   }

   #coverItUp {
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
   }

   .container {
      position: relative;
      width: 49%;
      display: inline-block
   }

   .containerimage {
      position: relative;
      width: 98.5%;
      display: inline-block
   }

   .image {
      opacity: 0.7;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
   }

   .imageo {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
   }

   .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
   }

   .middlepic {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
   }

   .below {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 100%;
      left: 0%;
      transform: translate(0%, 10%);
      -ms-transform: translate(0%, 0%) pointer-events: none
   }

   .container:hover .below {
      opacity: 0.9;
      pointer-events: none;
      z-index: 99;
   }

   .container:hover .image {
      opacity: 1;
   }

   .container:hover .imageo {
      opacity: 1;
   }

   .container:hover .middle {
      opacity: 0.9;
      pointer-events: none
   }

   .container:hover .middlepic {
      opacity: 0.9;
      pointer-events: none
   }

   .containerimage:hover .below {
      opacity: 0.9;
      pointer-events: none;
      z-index: 99;
   }

   .containerimage:hover .image {
      opacity: 1;
   }

   .containerimage:hover .middle {
      opacity: 0.9;
      pointer-events: none
   }

   .containerimage:hover .middlepic {
      opacity: 0.8;
      pointer-events: none
   }

   .text {
      background-color: #2d2d2d;
      color: white;
      font-size: 1.75vw;
      padding: 16px 32px;
   }

   .textbelow {
      background-color: #2d2d2d;
      color: white;
      font-size: 12px;
      padding: 16px 32px;
   }
